**Implementing a Neural Net**

In [ ]:
import pandas as pd
from sklearn.neural_network import MLPClassifier

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.feature_extraction import DictVectorizer

from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving to_neural_net.csv to to_neural_net.csv

In [ ]:
import io
face_recog = pd.read_csv(io.BytesIO(uploaded['to_neural_net.csv']))

In [ ]:
face_recog['age_bins'] = pd.cut(x=face_recog['age'], 
                                bins=[0, 9, 29, 39, 49, 59, 69, 79, 89, 99, 130])
face_recog['age_encoded'] = pd.cut(x=face_recog['age'], 
                                bins=[0, 9, 29, 39, 49, 59, 69, 79, 89, 99, 130], 
                                labels = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
face_recog.head()

   age ethnicity gender  ... right_eye_size age_bins  age_encoded
0    1     Asian   Male  ...       0.109268   (0, 9]            0
1    1     Asian   Male  ...       0.084790   (0, 9]            0
2    1     Asian   Male  ...       0.094426   (0, 9]            0
3    1     Asian   Male  ...       0.074953   (0, 9]            0
4    1     Asian   Male  ...       0.049664   (0, 9]            0

[5 rows x 18 columns]

In [ ]:
#Split the data into train test

train, test = train_test_split(face_recog, test_size=0.2)

**Use Neural Net to Predict Age**

In [ ]:
#Use the encoded age for train and test labels
train_label = train["age_encoded"].values
test_label = test["age_encoded"].values
test_bins = test["age_bins"].values

In [ ]:
#These are the bins for age
test_bins

[(29, 39], (9, 29], (9, 29], (9, 29], (29, 39], ..., (9, 29], (9, 29], (9, 29], (39, 49], (9, 29]]
Length: 4505
Categories (10, interval[int64]): [(0, 9] < (9, 29] < (29, 39] < (39, 49] ... (69, 79] < (79, 89] <
                                   (89, 99] < (99, 130]]

In [ ]:
#drop all the unused columns for train and test data
train = train.drop(columns= ["age", "path", "landmarks", "age_bins", "age_encoded"])
test = test.drop(columns= ["age", "path", "landmarks", "age_bins", "age_encoded"])

In [ ]:
train

      ethnicity  gender  ...  left_eye_size  right_eye_size
9153      Black  Female  ...       0.117434        0.072578
3775     Indian  Female  ...       0.128270        0.084681
19791     White    Male  ...       0.098445        0.056381
1621      Asian    Male  ...       0.092484        0.056388
5905      White  Female  ...       0.099021        0.055893
...         ...     ...  ...            ...             ...
19844     White    Male  ...       0.075677        0.040629
13402     Black    Male  ...       0.123257        0.080354
5386     Indian    Male  ...       0.113720        0.084179
10178     White    Male  ...       0.096281        0.062659
13614     White  Female  ...       0.107713        0.067890

[18019 rows x 13 columns]

In [ ]:
#encode ethnicity and gender variables for train data
encoder_e = LabelEncoder()
encoder_e.fit(train["ethnicity"])
encoder_e.classes_

encoder_g = LabelEncoder()
encoder_g.fit(train["gender"])
encoder_g.classes_

e_train = encoder_e.transform(train["ethnicity"])
g_train = encoder_g.transform(train["gender"])
train.insert(13, "ethnicity_encoded", e_train)
train.insert(14, "gender_encoded", g_train)
train = train.drop(columns= ["ethnicity", "gender"])

In [ ]:
#encode ethnicity and gender variables for train data
encoder_e = LabelEncoder()
encoder_e.fit(test["ethnicity"])
encoder_e.classes_

encoder_g = LabelEncoder()
encoder_g.fit(test["gender"])
encoder_g.classes_

e_test = encoder_e.transform(test["ethnicity"])
g_test = encoder_g.transform(test["gender"])
test.insert(13, "ethnicity_encoded", e_test)
test.insert(14, "gender_encoded", g_test)
test = test.drop(columns= ["ethnicity", "gender"])

In [ ]:
test

       nose2lip  lip2chin  ...  ethnicity_encoded  gender_encoded
10061  0.115568  0.227058  ...                  3               0
212    0.098010  0.218729  ...                  2               1
12289  0.064217  0.287702  ...                  4               0
5317   0.077721  0.212329  ...                  2               0
13681  0.097381  0.282108  ...                  3               1
...         ...       ...  ...                ...             ...
22121  0.123448  0.251453  ...                  3               0
5455   0.090643  0.256493  ...                  4               0
7450   0.102423  0.212243  ...                  4               0
11540  0.106772  0.227523  ...                  0               1
7052   0.092781  0.254893  ...                  4               1

[4505 rows x 13 columns]

In [ ]:
#run a neural net 

clf = MLPClassifier(hidden_layer_sizes=(10, 10), max_iter=100, alpha=0.0001,
                     solver='lbfgs', verbose=10,  random_state=21,tol=0.000000001)
clf.fit(train, train_label)
pred = clf.predict(test)
print(accuracy_score(test_label, pred))

0.4514983351831299

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

Since the accuracy is really low, we decided to look more into different methods to differentiate age. Furthermore, with the additional features, I think we can run a neural net to predict ethnicity. We can probably find better results from predicting ethnicity.

In [ ]:
#This shows you the best variables to use for the model
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

bestfeatures = SelectKBest(score_func=chi2, k=13)
fit = bestfeatures.fit(train, train_label)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(train.columns)

featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))

                Specs       Score
11  ethnicity_encoded  899.185997
12     gender_encoded  452.768857
6       size_of_mouth   19.593100
10     right_eye_size   19.154289
1            lip2chin   16.788170
9       left_eye_size   15.264984
8    bottom_lip_width   10.824309
5          nose_width    8.891710
3     left_eyelid_len    7.656982
4    right_eyelid_len    7.185666
0            nose2lip    4.351754
7            nose_len    1.424096
2    len_between_eyes    0.255390

In [ ]:
pd.DataFrame({"Predictions":pred, "Actual":test_label, "Bins": test_bins})

      Predictions Actual      Bins
0               1      0    (0, 9]
1               0      0    (0, 9]
2               4      2  (29, 39]
3               1      1   (9, 29]
4               1      2  (29, 39]
...           ...    ...       ...
4500            4      7  (79, 89]
4501            1      1   (9, 29]
4502            1      1   (9, 29]
4503            1      2  (29, 39]
4504            1      1   (9, 29]

[4505 rows x 3 columns]

**Using Neural Net to Predict ethnicity**

In [ ]:
import random
random.seed(20)
train, test = train_test_split(face_recog, test_size=0.2)

In [ ]:
train = train.drop(columns= ["path", "landmarks", "age_bins", "age_encoded"])
test = test.drop(columns= ["path", "landmarks", "age_bins", "age_encoded"])

In [ ]:
train

       age ethnicity  gender  ...  bottom_lip_width  left_eye_size  right_eye_size
18283   54     Asian    Male  ...          0.057775       0.089134        0.057775
22057   85     Asian    Male  ...          0.063205       0.068438        0.037116
19901   61    Indian    Male  ...          0.069530       0.083276        0.046193
18730   56    Indian    Male  ...          0.052821       0.090876        0.053084
14743    4     Asian  Female  ...          0.087044       0.096672        0.059972
...    ...       ...     ...  ...               ...            ...             ...
12646   35    Indian  Female  ...          0.065511       0.100664        0.060300
9749    29     Black  Female  ...          0.103735       0.111726        0.063296
13863   37    Indian  Female  ...          0.060997       0.103147        0.061249
10676   30     Black    Male  ...          0.091334       0.112026        0.073158
10282   30     Asian  Female  ...          0.077392       0.105612        0.077589

[18019 rows x 14 columns]

In [ ]:
encoder_e = LabelEncoder()
encoder_e.fit(train["ethnicity"])
encoder_e.classes_

encoder_g = LabelEncoder()
encoder_g.fit(train["gender"])
encoder_g.classes_

e_train = encoder_e.transform(train["ethnicity"])
g_train = encoder_g.transform(train["gender"])
train.insert(14, "ethnicity_encoded", e_train)
train.insert(15, "gender_encoded", g_train)
train = train.drop(columns= ["ethnicity", "gender"])

In [ ]:
encoder_e = LabelEncoder()
encoder_e.fit(test["ethnicity"])
encoder_e.classes_

encoder_g = LabelEncoder()
encoder_g.fit(test["gender"])
encoder_g.classes_

e_test = encoder_e.transform(test["ethnicity"])
g_test = encoder_g.transform(test["gender"])
test.insert(14, "ethnicity_encoded", e_test)
test.insert(15, "gender_encoded", g_test)
test = test.drop(columns= ["ethnicity", "gender"])

In [ ]:
train_label = train["ethnicity_encoded"].values
test_label = test["ethnicity_encoded"].values

In [ ]:
train_label

array([0, 0, 3, ..., 3, 1, 0])

In [ ]:
train.drop(columns = ["ethnicity_encoded"])
test.drop(columns=["ethnicity_encoded"])

       age  nose2lip  lip2chin  ...  left_eye_size  right_eye_size  gender_encoded
4100    23  0.059314  0.215059  ...       0.120775        0.081977               0
10918   30  0.109280  0.246838  ...       0.094961        0.055195               0
18463   55  0.103177  0.219777  ...       0.099944        0.068208               0
21916   81  0.159627  0.316462  ...       0.094993        0.061116               1
18531   55  0.123849  0.312362  ...       0.079277        0.044970               1
...    ...       ...       ...  ...            ...             ...             ...
7724    26  0.077680  0.245589  ...       0.074265        0.041802               1
19592   60  0.095718  0.241691  ...       0.085797        0.045316               1
22248   89  0.095902  0.362697  ...       0.100769        0.078481               1
8310    27  0.115715  0.335624  ...       0.088316        0.052392               1
19651   60  0.111141  0.248855  ...       0.086786        0.052072               0

[4505 rows x 13 columns]

In [ ]:
clf = MLPClassifier(hidden_layer_sizes=(20), max_iter=100, alpha=0.0001,
                     solver='lbfgs', verbose=10,  random_state=21,tol=0.000000001)
clf.fit(train, train_label)
pred = clf.predict(test)
print(accuracy_score(test_label, pred))

0.9631520532741399

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [ ]:
df_ethnicity = pd.DataFrame({"Predicted":pred, "Actual" :test_label})
df_ethnicity

      Predicted  Actual
0             0       0
1             4       4
2             4       4
3             4       4
4             4       4
...         ...     ...
4500          3       3
4501          4       4
4502          2       3
4503          4       4
4504          4       4

[4505 rows x 2 columns]

In [ ]:
#This shows you the best variables to use for the model
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

bestfeatures = SelectKBest(score_func=chi2, k=13)
fit = bestfeatures.fit(train, train_label)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(train.columns)

featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))

                Specs         Score
12  ethnicity_encoded  16514.477320
0                 age  13684.261331
13     gender_encoded     50.547690
2            lip2chin     15.707238
4     left_eyelid_len     14.606153
5    right_eyelid_len     14.450770
7       size_of_mouth     14.384268
9    bottom_lip_width     12.536209
6          nose_width     11.098648
11     right_eye_size      2.758162
10      left_eye_size      2.377901
1            nose2lip      1.530402
3    len_between_eyes      1.503128
8            nose_len      0.653892