**Implementing a Neural Net**

In [1]:
import pandas as pd
from sklearn.neural_network import MLPClassifier

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.feature_extraction import DictVectorizer

from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving to_neural_net.csv to to_neural_net.csv

In [65]:
import io
face_recog = pd.read_csv(io.BytesIO(uploaded['to_neural_net.csv']))

In [66]:
face_recog['age_bins'] = pd.cut(x=face_recog['age'], 
                                bins=[0, 9, 29, 39, 49, 59, 69, 79, 89, 99, 130])
face_recog['age_encoded'] = pd.cut(x=face_recog['age'], 
                                bins=[0, 9, 29, 39, 49, 59, 69, 79, 89, 99, 130], 
                                labels = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
face_recog.head()

   age ethnicity gender  ... right_eye_size age_bins  age_encoded
0    1     Asian   Male  ...       0.109268   (0, 9]            0
1    1     Asian   Male  ...       0.084790   (0, 9]            0
2    1     Asian   Male  ...       0.094426   (0, 9]            0
3    1     Asian   Male  ...       0.074953   (0, 9]            0
4    1     Asian   Male  ...       0.049664   (0, 9]            0

[5 rows x 18 columns]

In [67]:
face_recog[(face_recog["age"] <= 25) &(face_recog["age"]>18)]

      age ethnicity  gender  ... right_eye_size age_bins  age_encoded
2462   19     Black  Female  ...       0.088633  (9, 29]            1
2463   19     Black    Male  ...       0.057470  (9, 29]            1
2464   19     Asian    Male  ...       0.050738  (9, 29]            1
2465   19     Asian    Male  ...       0.050185  (9, 29]            1
2466   19     Asian    Male  ...       0.055587  (9, 29]            1
...   ...       ...     ...  ...            ...      ...          ...
5932   25     White  Female  ...       0.072892  (9, 29]            1
5933   25     White  Female  ...       0.071102  (9, 29]            1
5934   25     White  Female  ...       0.068826  (9, 29]            1
5935   25     White  Female  ...       0.092902  (9, 29]            1
5936   25     White  Female  ...       0.073635  (9, 29]            1

[3019 rows x 18 columns]

Split evenly by ethnicity and age



create bins
child (0-)

In [68]:
#Split the data into train test

#train, test = train_test_split(face_recog, test_size=0.2)

**Use Neural Net to Predict Age**

In [73]:
#Use the encoded age for train and test labels
# train_label = train["age_encoded"].values
# test_label = test["age_encoded"].values
# test_bins = test["age_bins"].values

In [74]:
#These are the bins for age
test_bins

[(9, 29], (59, 69], (0, 9], (9, 29], (29, 39], ..., (9, 29], (9, 29], (9, 29], (49, 59], (29, 39]]
Length: 4505
Categories (10, interval[int64]): [(0, 9] < (9, 29] < (29, 39] < (39, 49] ... (69, 79] < (79, 89] <
                                   (89, 99] < (99, 130]]

In [75]:
#drop all the unused columns for train and test data
# train = train.drop(columns= ["age", "path", "landmarks", "age_bins", "age_encoded"])
# test = test.drop(columns= ["age", "path", "landmarks", "age_bins", "age_encoded"])

In [76]:
train

       age  nose2lip  ...  ethnicity_encoded  gender_encoded
20084   63  0.118583  ...                  4               0
7929    26  0.107224  ...                  3               1
190      1  0.092160  ...                  2               1
14119   38  0.083898  ...                  1               0
3796    22  0.089507  ...                  3               0
...    ...       ...  ...                ...             ...
6526    26  0.102481  ...                  2               0
3525    21  0.124795  ...                  1               1
9831    29  0.120724  ...                  1               0
6239    26  0.079276  ...                  1               0
6301    26  0.075967  ...                  1               0

[18019 rows x 14 columns]

In [77]:
#encode age bins
face_recog["quantiles"] = pd.qcut(face_recog["age"],q=5)
encoder_a = LabelEncoder()
encoder_a.fit(face_recog["quantiles"])
a_train = encoder_a.transform(face_recog["quantiles"])
face_recog.insert(2,"bin",a_train)

In [78]:
age_train,age_test = train_test_split(face_recog,test_size=.3)

In [79]:
age_train_labels = age_train["bin"]
age_train_data = age_train.drop(columns=["bin","path","age","landmarks","age_bins","age_encoded","quantiles"])
age_test_labels = age_test["bin"]
age_test_data = age_test.drop(columns=["bin","path","age","landmarks","age_bins","age_encoded","quantiles"])

In [80]:
#encode ethnicity and gender variables for train data
encoder_e = LabelEncoder()
encoder_e.fit(age_train_data["ethnicity"])
encoder_e.classes_

encoder_g = LabelEncoder()
encoder_g.fit(age_train_data["gender"])
encoder_g.classes_

e_train = encoder_e.transform(age_train_data["ethnicity"])
g_train = encoder_g.transform(age_train_data["gender"])
age_train_data.insert(13, "ethnicity_encoded", e_train)
age_train_data.insert(14, "gender_encoded", g_train)
age_train_data = age_train_data.drop(columns= ["ethnicity", "gender"])

In [81]:
age_train_data.head()

       nose2lip  lip2chin  ...  ethnicity_encoded  gender_encoded
6338   0.076475  0.207127  ...                  3               0
10154  0.116367  0.259120  ...                  4               1
14817  0.121040  0.272701  ...                  4               0
5630   0.118244  0.285750  ...                  4               1
11193  0.085124  0.219102  ...                  1               0

[5 rows x 13 columns]

In [82]:
#encode ethnicity and gender variables for train data
encoder_e = LabelEncoder()
encoder_e.fit(age_test_data["ethnicity"])
encoder_e.classes_

encoder_g = LabelEncoder()
encoder_g.fit(age_test_data["gender"])
encoder_g.classes_

e_test = encoder_e.transform(age_test_data["ethnicity"])
g_test = encoder_g.transform(age_test_data["gender"])
age_test_data.insert(13, "ethnicity_encoded", e_test)
age_test_data.insert(14, "gender_encoded", g_test)
age_test_data = age_test_data.drop(columns= ["ethnicity", "gender"])

In [83]:
age_train_data

       nose2lip  lip2chin  ...  ethnicity_encoded  gender_encoded
6338   0.076475  0.207127  ...                  3               0
10154  0.116367  0.259120  ...                  4               1
14817  0.121040  0.272701  ...                  4               0
5630   0.118244  0.285750  ...                  4               1
11193  0.085124  0.219102  ...                  1               0
...         ...       ...  ...                ...             ...
9587   0.118741  0.273529  ...                  0               1
1165   0.105807  0.223880  ...                  2               1
4161   0.105278  0.274082  ...                  2               1
4218   0.095238  0.263561  ...                  0               1
20085  0.119813  0.262226  ...                  4               0

[15766 rows x 13 columns]

In [84]:
#run a neural net 

clf = MLPClassifier(hidden_layer_sizes=(10, 10), max_iter=200, alpha=0.001,
                     solver='lbfgs', verbose=10,tol=0.000000001)
clf.fit(age_train_data, age_train_labels)
pred = clf.predict(age_test_data)
print(accuracy_score(age_test_labels, pred))

0.4187629476176384

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

Since the accuracy is really low, we decided to look more into different methods to differentiate age. Furthermore, with the additional features, I think we can run a neural net to predict ethnicity. We can probably find better results from predicting ethnicity.

In [85]:
#This shows you the best variables to use for the model
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

bestfeatures = SelectKBest(score_func=chi2, k=13)
fit = bestfeatures.fit(age_train_data, age_train_labels)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(age_train_data.columns)

featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))

                Specs       Score
11  ethnicity_encoded  846.163040
12     gender_encoded  312.652177
10     right_eye_size   13.061409
1            lip2chin   12.682937
6       size_of_mouth   11.817091
9       left_eye_size   11.106994
8    bottom_lip_width    8.398308
5          nose_width    6.485093
3     left_eyelid_len    5.219456
4    right_eyelid_len    4.791511
0            nose2lip    3.496907
7            nose_len    0.701589
2    len_between_eyes    0.086293

In [86]:
pd.DataFrame({"Predictions":pred, "Actual":age_test_labels, "Bins": test_bins})

ValueError: ignored

**Using Neural Net to Predict ethnicity**

In [ ]:
import random
random.seed(20)
train, test = train_test_split(face_recog, test_size=0.2)

In [ ]:
train = train.drop(columns= ["path", "landmarks", "age_bins", "age_encoded"])
test = test.drop(columns= ["path", "landmarks", "age_bins", "age_encoded"])

In [ ]:
train

In [ ]:
encoder_e = LabelEncoder()
encoder_e.fit(train["ethnicity"])
encoder_e.classes_

encoder_g = LabelEncoder()
encoder_g.fit(train["gender"])
encoder_g.classes_

e_train = encoder_e.transform(train["ethnicity"])
g_train = encoder_g.transform(train["gender"])
train.insert(14, "ethnicity_encoded", e_train)
train.insert(15, "gender_encoded", g_train)
train = train.drop(columns= ["ethnicity", "gender"])

In [ ]:
encoder_e = LabelEncoder()
encoder_e.fit(test["ethnicity"])
encoder_e.classes_

encoder_g = LabelEncoder()
encoder_g.fit(test["gender"])
encoder_g.classes_

e_test = encoder_e.transform(test["ethnicity"])
g_test = encoder_g.transform(test["gender"])
test.insert(14, "ethnicity_encoded", e_test)
test.insert(15, "gender_encoded", g_test)
test = test.drop(columns= ["ethnicity", "gender"])

In [ ]:
train_label = train["ethnicity_encoded"].values
test_label = test["ethnicity_encoded"].values

In [ ]:
train_label

In [ ]:
train.drop(columns = ["ethnicity_encoded"])
test.drop(columns=["ethnicity_encoded"])

In [ ]:
clf = MLPClassifier(hidden_layer_sizes=(20), max_iter=100, alpha=0.0001,
                     solver='lbfgs', verbose=10,  random_state=21,tol=0.000000001)
clf.fit(train, train_label)
pred = clf.predict(test)
print(accuracy_score(test_label, pred))

In [ ]:
df_ethnicity = pd.DataFrame({"Predicted":pred, "Actual" :test_label})
df_ethnicity

In [ ]:
#This shows you the best variables to use for the model
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

bestfeatures = SelectKBest(score_func=chi2, k=13)
fit = bestfeatures.fit(train, train_label)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(train.columns)

featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))